body {
  font-family: "Arial", sans-serif;
}

h1 {
  font-family: "Cursive", sans-serif;
  color: purple;
}

p {
  font-family: "Times New Roman", serif;
  color: darkblue;
  font-size: 18px; 
}
h2 {
  font-size: 36px;
  color: darkblue;
}
small {
  font-size: 12px;
  color: gray;
}
